/* Import other CSS */
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@200;400;600;800&display=swap');

:root {
  --color-primary-dark: #161518;
  --color-primary-light: #1F2023;
  --color-primary-text: #D2D3D3;
  --color-primary-border: #333436;

  --color-secondary-dark: #dfdfdf;
  --color-secondary-light: #FFFFFF;
  --color-secondary-text: #3D3D3D;
  --color-secondary-border: #dfdfdf;

  --color-text-grey: #6d6d6d;

  --spacer: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav__logo {
  font-family: 'Merriweather', serif;
  font-size: 16pt;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav__items {
  display: flex;
}

.nav__item {
  padding-right: 2rem;
}

.current{
  text-decoration: line-through;
}

.nav__item:hover {
  text-decoration: line-through;
  font-weight: 600;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text-grey);
}

.card {
  margin: 0 auto;
  width: 25rem;
  text-align: center;
  background-color: var(--color-secondary-dark);
  padding: 6rem;
  margin-top: 4rem;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 16pt;
  padding-bottom: 1rem;
}